@charset "utf-8";

body {
    height: 428px;
    text-align: center;
}

.specimenWindow {
	position: absolute;
	width: 150px;
	height: 150px;
	left: 37px;
	top: 96px;
}
.specimenImage {
	height: 150px;
	width: 150px;
	background: none;
	position: absolute;
	top: 25px;
}

.controlBack{
	height: 66px;
	vertical-align: middle;
	padding-bottom: 5px;
}

.samplePanelLeft {
	width: 175px;
	position: absolute;
	left: 5px;
}

.samplePanelRight {
	width: 175px;
	position: absolute;
	right: 5px;
}

.controlPanelBack {
	display: inline-block;
	height: 61px;
	width: 227px;
	margin-top: 5px;
	padding: 0 10px;
}

#slider {
	display: inline-block;
	position: relative;	
	width: 100px;
	margin-top: 5px;
}

.whiteWindow {
	width: 254px;
	height: 260px;
	display: inline-block;
	position: relative;
	top: 0px;
	left: 101px;
}

#discPlane {
	position: absolute;
	top: 25px;
	left: 5px;
}
#dimPlane {
	position: absolute;
	top:      135px;
	left:     5px;
}

.diagram {
	width: 100px;
	height: 240px;
	position: absolute;
	top: 10px;
	left: 131px;
}

#rayCan {
	position: absolute;
	top: 13px;
	left: 10px
}

#staticRayCan {
	position: absolute;
	top: 201px;
	left: 10px;
}

#specCanvas {
	position: absolute;
	top: 27px;
	left: 2px;
}

#testCan {
	position: absolute;
	top: 27px;
	left: 2px;	
}

#lens {
	position: absolute;
	height: 40px;
	width: 72px;
	left: 13px;
	top: 202px;
}

.line {
	width: 1px;
	height: 228px;
	background-color: black;
	position: absolute;
	left: 49px;
	top: 13px;
}

.arrowTop {
	position: absolute;
	top: 25px;
	left: 5px;
}

.arrowBtm {
	position: absolute;
	top: 219px;
	left: 76px;
}

#dlcLine {
	width: 33px;
	height: 1px;
	background-color: black;
	border: 1px solid rgb(0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	position: absolute;
	top: 55px;
	left: 31px;
}

#rimLine {
	width: 19px;
	height: 1px;
	background-color: black;
	border: 1px solid rgb(0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	position: absolute;
	top: 62px;
	left: 24px;
}

#pfpLine {
	width: 35px;
	height: 2px;
	background-color: black;
	position: absolute;
	top: 13px;
	left: 55px;
}

.specimenTitle {
	width: 154px;
}

#sampleDrop {
	position: absolute;
	top: 29px;
	left: 52px;
}