@charset "utf-8";

body {
	height: 600px;
	width: 430px;
	text-align: center;
}

.specimenImage {
	height: 175px;
	width: 175px;
}

.controlBack {
	height: 143px;
}

.controlPanelBack {
	display: inline-block;
	height: 55px;
	margin-top: 5px;
	overflow: hidden;
	padding: 0 10px;
}

.samplePanelLeft {
	margin-right: 40px;
}

#btn {
	display: inline-block;
	height: 26px;
	position: relative;
	margin-top: 5px;
	width: 100px;
}

#slider, #slider2 {
	display: inline-block;
	position: relative;	
	width: 100px;
	margin-top: 5px;
}

.controlA {
	position: absolute;
	left: 5px;
	width: 183px;
}

.controlB {
	position: absolute;
	left: 5px;
	top: 60px;
	width: 390px;
	height: 73px;
}

.controlC {
	position: absolute;
	left: 213px;
	width: 182px;
}

.controlEquation {
	position: absolute;
	left: 153px;
	top: 388px;
}

#angleReadA {
	position: absolute;
	left: 137px;
	top: 408px;
}

#angleReadB {
	position: absolute;
	left: 175px;
	top: 428px;
}

#med1 {
	display: inline-block;
	width: 330px;
	height: 325px;
	border-radius: 0 0 10px 10px;
}

#med {
	position: absolute;
	left: 0px;
	top: 182px;
	width: 330px;
	height: 143px;
	border-radius: 0 0  10px 10px;
}

#med2 {
	display: inline-block;
	width: 330px;
	height: 325px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#med1Mask {
	width: 165px;
	height: 52px;
	position: absolute;
	top: 180px;
	left: 0px;
	border-radius: 0 2px 2px 0;
}

.whiteWindow {
  display:inline-block;
  height: 325px;
  width: 330px;
  top: 55px;
  left: 44px;
}

#incLabel {
	position: absolute;
	top: 135px;
	left: 211px;
}

#refLabel {
	position: absolute;
	top: 223px;
	left: 4px;
}

#name {
	position: absolute;
	top: 185px;
	left: 4px;
}

select {
	position: absolute;
	top: 28px;
	left: 130px;
	height: 33px;
	width: 154px;
}

.vline1 {
  display: inline-block;
  background-color: black;
  height: 9px;
  width: 2px;
  position: absolute;
  top: 113px;
  left: 269px;
}

.vline1 {
  display: inline-block;
  background-color: black;
  height: 9px;
  width: 2px;
  position: absolute;
  top: 113px;
  left: 269px;
}

.legend {
	display: inline-block;
}

.vacLab {
	position: absolute;
	top: 166px;
	left: 4px;
}

.med1Lab {
	position: absolute;
	top: 166px;
	left: 269px;
}

.med2Lab {
	position: absolute;
	top: 185px;
	left: 269px;
}

.refMedLab {
	position: absolute;
	top: 307px;
	left: 109px;
}

.xAx {
	display: inline-block;
	background-color:black;
	height: 3px;
	width: 330px;
	position: absolute;
	top: 180px;
	left: 0px;
}

.yAx {
	display: inline-block;
	background-color:black;
	height: 300px;
	width: 2px;
	position: absolute;
	top: 0px;
	left: 164px;
}