@charset "utf-8";

body {
	height: 385px;
	text-align: center;
}

.btnBlock {
	display: inline-block;
	width: 100%;
}

#btn {
	display: inline-block;
	height: 26px;
	position: relative;
	margin-top: 22px;
	width: 133px;
}

.buttonText {
	width: 107px;
}

.controlBack {
	height: 77px;
}

.controlPanelBack {
	height: 67px;
	margin-top: 5px;
	position: absolute;
	width: 143px;
}

.d4 {
	top: 78px;
}

.d3 {
	top: 118px;
}

.d2 {
	top: 158px;
}

.d1 {
	top: 198px;
}

.d0 {
	top: 236px;
}

#drawBW {
	position: absolute;
	top: 78px;
	left: 37px;
	z-index: 99;
}

#drawColor {
	position: absolute;
	top: 78px;
	left: 37px;
	z-index: 99;
}

.graphNums {
	font-size: 10px;
}

.graph {
	position: absolute;
	top: 99px;
	left: 11px;
	z-index: 0;
}

#gridScreen {
	position: absolute;
	top: 81px;
	left: 63px;
	background-color: #FFFFFF;
	border: solid 2px black;
}

.len3 {
	left: 55px;
}
.len2 {
	left: 95px;
}

.len1 {
	left: 135px;
}

.le0 {
	left: 178px;
}

.le1 {
	left: 216px;
}

#samplePanelMiddle {
	left: 151px;
}

.specC,
.op {
	position: absolute;
	height: 170px;
	width: 170px;
}

.selBlock {
	display: inline-block;
	width: 100%;
}

select {
	position: absolute;
	left: 4px;
	top: 26px;
	width: 135px;
	height: 28px;
}

.specimenWindow {
	margin: 0 auto;
	position: relative;
	top: 2px;
	left: 110px;
}

.specimenImage {
	height: 170px;
	width: 170px;
}

#samplePanelLeft {
	right: 5px;
}

#samplePanelRight {
	left: 5px;
}

#slider {
	display: inline-block;
	position: relative;	
	width: 100px;
	margin-top: 8px;
}

.title1Pos {
	position: absolute;
	top: 261px;
	left: 55px;
}

.title2Pos {
	position: absolute;
	top: 165px;
	left: 6px;
	transform:rotate(-90deg);
  -ms-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg);
}

.tutorialTitle {
	height: 61px;
}

.xAxis {
	position: absolute;
	top: 246px;
}

.yAxis {
	position: absolute;
	left: 44px;
}