@charset "utf-8";

#arrow {
  display:inline-block;
  position: absolute;
  top: 26px;
  left: 77px;
  -webkt-transform: translate(0px, 0px);
}

#arrowCan {
  position: absolute;
  top: 27px;
  left: 1px;
  -webkt-transform: translate(240px, 0px);
}

body {
  height: 368px;
  text-align: center;
}

.cMirror {
  display: inline-block;
  height: 22px;
  width: 75px;
  position: absolute;
  top: 187px;
  left: 202px;
}

.controlBack {
  height: 70px;
}

.controlPanelBack {
  height: 60px;
  margin-top: 5px;
  position: absolute;
  width: 100%;
}

.coCurvature {
  display: inline-block;
  height: 75px;
  width: 100px;
  position: absolute;
  top: 68px;
  left: 289px;
}

.cPointText {
  display: inline-block;
  height: 75px;
  width: 100px;
  position: absolute;
  top: 109px;
  left: 295px;
}

.circles {
  display: inline-block;
  background-color: black;
  height: 6px;
  width: 6px;
  position: absolute;
  border-radius: 50% 50% 50% 50%;
  z-index: 1;
}

.cPoint {
  top: 105px;
  left: 337px;
}

.dline {
  display: inline-block;
  background-color: black;
  height: 2px;
  width: 12px;
  position: absolute;
  top: 113px;
  left: 201px;   
  transform:rotate(35deg);
  -ms-transform: rotate(35deg); 
  -webkit-transform: rotate(35deg); 
}

.focPoint {
  display: inline-block;
  height: 22px;
  width: 75px;
  position: absolute;
  top: 122px;
  left: 232px;
}

.fPointText {
  display: inline-block;
  height: 75px;
  width: 100px;
  position: absolute;
  top: 92px;
  left: 225px;
}

.fPoint {
  top: 105px;
  left: 267px;
}

.line {
  display: inline-block;
  background-color: black;
  height:1px;
  width: 350px;
  position: absolute;
  top: 107px; 
  left: 25px;
}

#lineCan {
  position: absolute;
  top: 0px;
  left: 0px;
}

.mirror {
  position: absolute;
  top: 18px;
  left: 175px;
}

#object {
  position: absolute;
}

.pAxis {
  display: inline-block;
  height: 13px;
  width: 100px;
  position: absolute;
  top: 112px;
  left: 73px;
}

.pole {
  display: inline-block;
  height: 13px;
  width: 50px;
  position: absolute;
  top: 116px;
  left: 203px;
}

.polePoint {
  top: 105px;
  left: 195px;
  z-index: 0;
}

#samplePanelRight {
  left: 0px;
}

#slider {
  display: inline-block;
  position: relative;	
  width: 150px;
  margin-top: 5px;
}

.vline1 {
  display: inline-block;
  background-color: black;
  height: 9px;
  width: 2px;
  position: absolute;
  top: 113px;
  left: 269px;
}

.vline2 {
  display: inline-block;
  background-color: black;
  height: 9px;
  width: 2px;
  position: absolute;
  top: 94px;
  left: 339px;
}

#vImage {
  position: absolute;
}

.whiteWindow {
  display:inline-block;
  height: 215px;
  width:400px;
  position: relative;
}

#centerit {
 position: absolute;
 width: 360px;
 height: 245px;
 top: 54%;
 left: 46%;
 margin: -169px 0px 0px -165px;
 background-color: white;
 border-radius: 10px;
 box-shadow: 0 0 7px white;
}